.u-section-1 .u-sheet-1 {
  min-height: 1145px;
}

.u-section-1 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: 81px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  margin: -46px auto 0 266px;
  padding: 8px 35px 9px;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  margin: -40px auto 0 67px;
  padding: 8px 35px 9px;
}

.u-section-1 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 30px auto 0 -26px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 549px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-1 .u-image-1 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 19px;
}

.u-section-1 .u-image-2 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 19px;
}

.u-section-1 .u-image-3 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 19px;
}

.u-section-1 .u-image-4 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-4 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-9 {
  padding: 0 19px;
}

.u-section-1 .u-image-5 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-5 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-11 {
  padding: 0 19px;
}

.u-section-1 .u-image-6 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-6 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-13 {
  padding: 0 19px;
}

.u-section-1 .u-image-7 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-7 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-14 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-15 {
  padding: 0 19px;
}

.u-section-1 .u-image-8 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-8 {
  width: 229px;
  min-height: 57px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  text-align: left;
  margin: -25px 5px 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 6px auto 0 55px;
  padding: 1px 11px 1px 10px;
}

.u-section-1 .u-shape-1 {
  width: 36px;
  height: 55px;
  margin: 42px auto 0 375px;
}

.u-section-1 .u-shape-2 {
  width: 36px;
  height: 55px;
  margin: -55px 444px 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: -47px auto 60px 432px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1617px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 141px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-left: 202px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 940px;
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    height: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 125px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 243px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 243px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 243px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 243px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 243px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    height: 243px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    color: rgb(0, 0, 0) !important;
    margin-top: 109px;
    margin-left: 265px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 364px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -39px;
    margin-bottom: 52px;
    margin-left: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1983px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 135px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    margin-left: 195px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 28px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1388px;
  }

  .u-section-1 .u-image-1 {
    height: 204px;
  }

  .u-section-1 .u-image-2 {
    height: 204px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3878px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: 199px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 395px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3586px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 76px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -100px;
    margin-left: -1px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 202px;
  }

  .u-section-1 .u-image-2 {
    height: 243px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 304px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 115px;
  }
}